body, ul, li, h1, h2 {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

body:after {
	display: block;
	content: "";
	clear: both;
}

.title {
	font-size: 3vh;
}

.main-navigation {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	position: relative;
	height: 5vh;
	margin-bottom: 2vh;
	align-items: center;
	
	-webkit-box-shadow: 0 8px 6px -6px lightgrey;
  -moz-box-shadow: 0 8px 6px -6px lightgrey;
  box-shadow: 0 8px 6px -6px lightgrey;
}

#new-game {
	cursor: pointer;
}

.button-container {
	display: none;
}

#button-modal {
	position: relative;

}

#button-modal.hidden {
	display: none;
}

.button-container {
	display: flex;
	position: absolute;
	top: 25vh;
	bottom: 50px;
	right: 50px;
	left: 50px;
	background-color: white;
	z-index: 1000;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#board {
	max-width: 1400px;
	margin: auto;
}

.button {
	cursor: pointer;
	margin: 10px;
	border-bottom: 1px solid white;
	font-size: 3vh;
}

.button:hover {
	border-bottom: 1px solid red;
}

.card {
	width: 80px;
	height: 120px;
	border: 2px solid lightgrey;
	float: left;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3%;
}

.card:hover {
	border-color: red;
}

.card.selected-green {
	background-color: green;
	opacity: 0.5;
}

.card.selected-yellow {
	background-color: yellow;
	opacity: 0.5;
}

.disable-click {
	pointer-events: none;
}

.card-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.suit {
	height: 50%;
	width: 50%;
	margin: 10px;
}

.card-back {
	height: 100%;
	width: 100%;
}