ul, li, h1, h2 {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}


body:after {
	display: block;
	content: "";
	clear: both;
}

.card {
	width: 80px;
	height: 120px;
	border: 2px solid black;
	float: left;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card:hover {
	border-color: red;
}

.card.selected-green {
	background-color: green;
	opacity: 0.5;
}

.card.selected-yellow {
	background-color: yellow;
	opacity: 0.5;
}

.disable-click {
	pointer-events: none;
}

.card-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.suit {
	height: 50%;
	width: 50%;
	margin: 10px;
}

.card-back {
	height: 100%;
	width: 100%;
}